section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 0;
}

.intro-text {
    max-width: 600px;
    padding: 20px;
    background-color: #e3b5cf;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.intro-image {
    flex: 0 0 25%;
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 600px) {
    section {        
        margin: 10px 0;
    }
    
    .intro-text {
        max-width: 600px;
        padding: 10px;
        background-color: #e3b5cf;
        border-radius: 10px;
        text-align: center;
        color: white;
    }
}