body {
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.3s;
}

header {
    background-color: #e7a0e4;
    color: white;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #9d5a93;
    color: white;
}

.active {
    background-color: #9d5a93;
    color: white;
}

.logo {
    width: 70px;
}

.linkedin-logo {
  height: 25px;
  width: 25px;
}

main {
    margin-left: 220px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.intro-text {
    max-width: 600px;
    padding: 20px;
    background-color: #e3b5cf;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.intro-image {
    flex: 0 0 25%;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

footer {
    background-color: #e7a0e4;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
}

.footer-content {
    max-width: 200px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    header {
        width: 70px;
    }

    ul {
        width: 70px;
    }

    li {
        margin-bottom: 10px;
        padding: 6px 10px;

    }

    .logo {
        padding-right: 3rem;

    }

    .logo img {
        max-width: 30px;
    }

    h1 {
        font-size: 15px;
    }

    .content {
        max-width: 600px;
        padding: 10px;
        background-color: #e3b5cf;
        border-radius: 10px;
        text-align: center;
        color: white;
    }

    footer {
        width: 61px;
    }

    .footer-content {
        max-width: 70px;
    }
}