section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 0;
}

.skills-description {
    max-width: 600px;
    padding: 20px;
    background-color: #e3b5cf;
    border-radius: 10px;
    text-align: left;
    color: white;
}

@media screen and (max-width: 600px) {
    section {
        margin: 10px 0;
    }
}
